In [29]:
import numpy as np
import pandas as pd
import pickle

In [30]:
f = open('../data/processed/data2011.pkl','rb')

In [31]:
data2011 = pickle.load(f)

In [32]:
f.close()

In [33]:
data2011.head()

trans3,0:0,0:0X,0:1,0:2,0:3,0X:0X,0X:0XX,0X:1X,0X:2X,0X:3X,...,3X:3X,3X:3XX,3XX:0XX,3XX:0XXX,3XX:13XX,3XX:1XX,3XX:1XXX,3XX:2XX,3XX:3XX,3XX:3XXX
home_team,,,,,,,,,,,,,,,,,,,,,
ANA,0.022427,0.693931,0.239446,0.039578,0.004617,0.026786,0.683929,0.238393,0.046429,0.004464,...,0.000000,0.293103,0.009174,0.000000,0.146789,0.100917,0.0,0.064220,0.018349,0.660550
ARI,0.028648,0.674217,0.237841,0.053298,0.005996,0.033606,0.684832,0.225250,0.052679,0.003633,...,0.013158,0.328947,0.080808,0.000000,0.171717,0.161616,0.0,0.020202,0.010101,0.555556
ATL,0.030245,0.679537,0.230373,0.052767,0.007079,0.022381,0.686661,0.247090,0.039391,0.004476,...,0.021739,0.239130,0.000000,0.000000,0.133333,0.200000,0.0,0.016667,0.000000,0.650000
BAL,0.025243,0.684790,0.234951,0.053074,0.001942,0.033943,0.691036,0.233246,0.040035,0.001741,...,0.015625,0.281250,0.066667,0.013333,0.186667,0.093333,0.0,0.000000,0.000000,0.640000
BOS,0.033987,0.657516,0.241176,0.058824,0.008497,0.022346,0.644320,0.265363,0.062384,0.005587,...,0.000000,0.305556,0.025424,0.008475,0.177966,0.127119,0.0,0.101695,0.000000,0.559322

In [34]:
dataarray = np.array(data2011)

In [42]:
dataarray[:,0:5].sum(axis=1)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [13]:
dataarray.shape

(30, 313)

In [179]:
def state_list():
    bases = ['0', '1', '2', '3', '12', '13', '23', '123']
    outs = ['', 'X', 'XX', 'XXX']
    states = []
    for b in bases:
        for x in outs:
            states.append(b+x)
    return(states)

def transient_state_list():
    bases = ['0', '1', '2', '3', '12', '13', '23', '123']
    outs = ['', 'X', 'XX', 'XXX']
    t_states = []
    for b in bases:
        for x in outs[0:3]:
            t_states.append(b+x)
    return(t_states)

def returning_transitions():
    t_states = transient_state_list()
    r_trans = []
    for s in t_states:
        r_trans.append(s+":"+s)
    return(r_trans)

In [180]:
def project(d):
    r_trans = returning_transitions()
    r_columns = list(set(r_trans).intersection(set(d.columns)))
    projected = d.drop(r_columns, axis=1)
    dropped = d[r_columns]
    return projected, dropped

In [181]:
projected, dropped = project(data2011)

In [182]:
projected.shape

(30, 290)

In [183]:
dropped.shape

(30, 23)

In [184]:
data2011.shape

(30, 313)

In [186]:
r_trans = returning_transitions()

In [187]:
r_columns = list(set(r_trans).intersection(set(data2011.columns)))

In [188]:
data2011.loc[:,r_columns].head()

trans3,3XX:3XX,2X:2X,123XX:123XX,0X:0X,123:123,12XX:12XX,12X:12X,2:2,0:0,13:13,...,12:12,13X:13X,3X:3X,0XX:0XX,1X:1X,1:1,2XX:2XX,23:23,3:3,23X:23X
home_team,,,,,,,,,,,,,,,,,,,,,
ANA,0.018349,0.056075,0.093023,0.026786,0.250000,0.029412,0.023438,0.046729,0.022427,0.060606,...,0.015385,0.013514,0.000000,0.022805,0.0,0.0,0.065934,0.000000,0.0,0.020000
ARI,0.010101,0.035176,0.159420,0.033606,0.320000,0.092896,0.037736,0.055556,0.028648,0.062500,...,0.027397,0.000000,0.013158,0.027429,0.0,0.0,0.047809,0.038462,0.0,0.000000
ATL,0.000000,0.043062,0.062500,0.022381,0.071429,0.030928,0.049180,0.025424,0.030245,0.045455,...,0.075000,0.020202,0.021739,0.020785,0.0,0.0,0.039823,0.000000,0.0,0.000000
BAL,0.000000,0.073446,0.098361,0.033943,0.259259,0.051429,0.077844,0.080357,0.025243,0.000000,...,0.063830,0.067568,0.015625,0.031049,0.0,0.0,0.063830,0.000000,0.0,0.000000
BOS,0.000000,0.027907,0.171053,0.022346,0.166667,0.044118,0.056701,0.031496,0.033987,0.023810,...,0.051724,0.027397,0.000000,0.029888,0.0,0.0,0.045455,0.000000,0.0,0.015385

In [236]:
def all_transitions_from(a_transient_state, df):
    trans = []
    for s in states:
        trans.append(a_transient_state+':'+s)
    cols = list(set(df.columns).intersection(set(trans)))
    return(cols)

In [237]:
def embed(p):
    states = state_list()
    t_states = transient_state_list()
    # Get list of a transitions from each state
    e = p.copy()
    e['dummy'] = -1
    for ts in t_states:
        ts_cols = all_transitions_from(ts, p)
        ts_cols.append('dummy')
        e[ts+':'+ts] = -e[ts_cols].sum(axis=1)
    e.drop('dummy', axis=1, inplace=True)
    return(e)

In [238]:
embedded = embed(projected)

In [239]:
embedded['0:0']-data2011['0:0']

home_team
ANA    3.816392e-17
ARI   -3.469447e-18
ATL   -2.428613e-17
BAL    3.469447e-17
BOS   -6.938894e-18
CHA    6.245005e-17
CHN   -2.775558e-17
CIN    1.179612e-16
CLE    1.006140e-16
COL    5.551115e-17
DET   -9.714451e-17
FLO   -4.510281e-17
HOU    4.510281e-17
KCA   -1.734723e-17
LAN   -5.898060e-17
MIL    9.714451e-17
MIN   -2.081668e-17
NYA    3.469447e-17
NYN   -7.285839e-17
OAK    5.204170e-17
PHI   -3.469447e-17
PIT   -7.632783e-17
SDN   -5.898060e-17
SEA   -2.775558e-17
SFN   -6.938894e-17
SLN   -3.816392e-17
TBA   -2.775558e-17
TEX    1.110223e-16
TOR    2.775558e-17
WAS    0.000000e+00
Name: 0:0, dtype: float64

In [196]:
embedded.shape

(30, 314)

In [197]:
len(t_states)*len(states)

768

In [208]:
save_mean = projected.mean(axis=0)
adjusted_projection = projected-save_mean

In [209]:
adjusted_projection.head()

trans3,0:0X,0:1,0:2,0:3,0X:0XX,0X:1X,0X:2X,0X:3X,0XX:0XXX,0XX:1XX,...,3X:2X,3X:2XX,3X:3XX,3XX:0XX,3XX:0XXX,3XX:13XX,3XX:1XX,3XX:1XXX,3XX:2XX,3XX:3XXX
home_team,,,,,,,,,,,,,,,,,,,,,
ANA,0.016583,-0.000204,-0.010380,-0.001160,0.001962,-0.002950,-0.000598,-0.000190,-0.001684,-0.004600,...,0.024880,0.008914,-0.035059,-0.023226,-0.003611,-0.010072,-0.021937,-0.000309,0.026015,0.018301
ARI,-0.003132,-0.001809,0.003340,0.000219,0.002866,-0.016093,0.005653,-0.001021,0.023869,-0.033772,...,-0.017770,0.004831,0.000784,0.048408,-0.003611,0.014856,0.038762,-0.000309,-0.018003,-0.086694
ATL,0.002188,-0.009277,0.002810,0.001301,0.004695,0.005748,-0.007635,-0.000178,0.033507,-0.014290,...,-0.022347,-0.008327,-0.089032,-0.032400,-0.003611,-0.023527,0.077146,-0.000309,-0.021538,0.007750
BAL,0.007441,-0.004699,0.003117,-0.003835,0.009070,-0.008096,-0.006992,-0.002914,-0.017462,0.008763,...,0.018414,-0.008327,-0.046913,0.034266,0.009722,0.029806,-0.029521,-0.000309,-0.038205,-0.002250
BOS,-0.019832,0.001526,0.008866,0.002720,-0.037646,0.024021,0.015357,0.000932,-0.028721,0.017256,...,-0.002419,0.019451,-0.022607,-0.006977,0.004863,0.021105,0.004264,-0.000309,0.063490,-0.082928

In [210]:
dataarray = np.array(adjusted_projection)

In [211]:
dataarray

array([[ 0.01658257, -0.0002041 , -0.0103795 , ..., -0.00030864,
         0.02601534,  0.01830086],
       [-0.00313164, -0.00180857,  0.00334046, ..., -0.00030864,
        -0.01800283, -0.08669404],
       [ 0.00218785, -0.00927678,  0.00280971, ..., -0.00030864,
        -0.02153818,  0.00775041],
       ...,
       [-0.02477287,  0.01266175, -0.00041969, ..., -0.00030864,
         0.02012849, -0.04224959],
       [-0.02244183,  0.00217167,  0.00584766, ..., -0.00030864,
         0.01057564, -0.01623333],
       [ 0.02016962, -0.0216755 , -0.00367967, ..., -0.00030864,
        -0.0075926 , -0.00959653]])

In [212]:
dataarray.shape

(30, 290)

In [219]:
XMM = dataarray.T.dot(np.random.randn(30, 1000)).T

In [220]:
XMM.shape

(1000, 290)

In [226]:
C = np.cov(XMM.T)
C.shape

(290, 290)

In [228]:
fantasy = pd.DataFrame(C.dot(np.random.randn(290, 1000)).T)
fantasy.columns = adjusted_projection.columns

In [230]:
projected_fantasy = fantasy + save_mean

In [231]:
embedded_fantasy = embed(projected_fantasy)

In [240]:
embedded_fantasy['0:0'].head()

0   -0.013263
1    0.030119
2    0.028244
3    0.053710
4    0.044019
Name: 0:0, dtype: float64

In [241]:
embedded_fantasy.head()

trans3,0:0X,0:1,0:2,0:3,0X:0XX,0X:1X,0X:2X,0X:3X,0XX:0XXX,0XX:1XX,...,12XX:12XX,13:13,13X:13X,13XX:13XX,23:23,23X:23X,23XX:23XX,123:123,123X:123X,123XX:123XX
0,0.726653,0.237206,0.036014,0.013391,0.676074,0.289980,0.037261,-0.006228,0.693179,0.246273,...,0.047570,-0.039027,0.009279,0.103343,0.052738,0.024258,4.440892e-16,-0.196993,0.419938,0.307575
1,0.588119,0.313296,0.058535,0.009931,0.718124,0.204764,0.052584,0.009531,0.703273,0.206983,...,0.003276,0.055177,0.014703,0.051470,0.044626,0.019853,2.220446e-16,-0.084961,0.436019,0.184034
2,0.555671,0.329363,0.076353,0.010368,0.625207,0.273740,0.061996,0.005444,0.602516,0.291678,...,0.130169,-0.079877,-0.031289,0.022473,0.081242,-0.008858,1.110223e-16,0.457870,0.230167,0.111552
3,0.632141,0.229638,0.084139,0.000372,0.584350,0.308181,0.053650,0.000379,0.640839,0.242091,...,0.094921,0.103641,0.188262,0.028188,-0.106417,-0.023501,-2.220446e-16,0.161390,0.172971,0.011972
4,0.638609,0.261269,0.052300,0.003804,0.685931,0.206833,0.050254,-0.002832,0.692380,0.230487,...,0.049459,0.061478,0.104840,-0.022523,-0.007313,-0.008227,-2.220446e-16,0.538024,0.212003,-0.012421

In [242]:
columns_save = embedded_fantasy.columns

In [243]:
embedded_fantasy_array = np.array(embedded_fantasy)

In [245]:
abs_embedded_fantasy_array = np.abs(embedded_fantasy_array)

In [247]:
absoluted_fantasy = pd.DataFrame(abs_embedded_fantasy_array)
absoluted_fantasy.columns = columns_save

In [248]:
absoluted_fantasy.head()

trans3,0:0X,0:1,0:2,0:3,0X:0XX,0X:1X,0X:2X,0X:3X,0XX:0XXX,0XX:1XX,...,12XX:12XX,13:13,13X:13X,13XX:13XX,23:23,23X:23X,23XX:23XX,123:123,123X:123X,123XX:123XX
0,0.726653,0.237206,0.036014,0.013391,0.676074,0.289980,0.037261,0.006228,0.693179,0.246273,...,0.047570,0.039027,0.009279,0.103343,0.052738,0.024258,4.440892e-16,0.196993,0.419938,0.307575
1,0.588119,0.313296,0.058535,0.009931,0.718124,0.204764,0.052584,0.009531,0.703273,0.206983,...,0.003276,0.055177,0.014703,0.051470,0.044626,0.019853,2.220446e-16,0.084961,0.436019,0.184034
2,0.555671,0.329363,0.076353,0.010368,0.625207,0.273740,0.061996,0.005444,0.602516,0.291678,...,0.130169,0.079877,0.031289,0.022473,0.081242,0.008858,1.110223e-16,0.457870,0.230167,0.111552
3,0.632141,0.229638,0.084139,0.000372,0.584350,0.308181,0.053650,0.000379,0.640839,0.242091,...,0.094921,0.103641,0.188262,0.028188,0.106417,0.023501,2.220446e-16,0.161390,0.172971,0.011972
4,0.638609,0.261269,0.052300,0.003804,0.685931,0.206833,0.050254,0.002832,0.692380,0.230487,...,0.049459,0.061478,0.104840,0.022523,0.007313,0.008227,2.220446e-16,0.538024,0.212003,0.012421

In [249]:
absoluted_fantasy['0:0']

0      0.013263
1      0.030119
2      0.028244
3      0.053710
4      0.044019
5      0.011475
6      0.032803
7      0.021122
8      0.038036
9      0.000930
10     0.039836
11     0.028532
12     0.023987
13     0.021854
14     0.025786
15     0.022425
16     0.060654
17     0.018440
18     0.011057
19     0.012654
20     0.020162
21     0.043153
22     0.027014
23     0.015919
24     0.043742
25     0.038174
26     0.014071
27     0.047445
28     0.032506
29     0.034301
         ...
970    0.022643
971    0.014175
972    0.020511
973    0.013841
974    0.007822
975    0.054054
976    0.050333
977    0.020132
978    0.044058
979    0.059941
980    0.047743
981    0.011144
982    0.008414
983    0.055549
984    0.020396
985    0.032778
986    0.027080
987    0.037096
988    0.015241
989    0.003182
990    0.065726
991    0.061398
992    0.023517
993    0.005712
994    0.051905
995    0.054331
996    0.036263
997    0.038828
998    0.008426
999    0.065199
Name: 0:0, Length: 1000, dtype: float64

In [250]:
absoluted_fantasy.head()

trans3,0:0X,0:1,0:2,0:3,0X:0XX,0X:1X,0X:2X,0X:3X,0XX:0XXX,0XX:1XX,...,12XX:12XX,13:13,13X:13X,13XX:13XX,23:23,23X:23X,23XX:23XX,123:123,123X:123X,123XX:123XX
0,0.726653,0.237206,0.036014,0.013391,0.676074,0.289980,0.037261,0.006228,0.693179,0.246273,...,0.047570,0.039027,0.009279,0.103343,0.052738,0.024258,4.440892e-16,0.196993,0.419938,0.307575
1,0.588119,0.313296,0.058535,0.009931,0.718124,0.204764,0.052584,0.009531,0.703273,0.206983,...,0.003276,0.055177,0.014703,0.051470,0.044626,0.019853,2.220446e-16,0.084961,0.436019,0.184034
2,0.555671,0.329363,0.076353,0.010368,0.625207,0.273740,0.061996,0.005444,0.602516,0.291678,...,0.130169,0.079877,0.031289,0.022473,0.081242,0.008858,1.110223e-16,0.457870,0.230167,0.111552
3,0.632141,0.229638,0.084139,0.000372,0.584350,0.308181,0.053650,0.000379,0.640839,0.242091,...,0.094921,0.103641,0.188262,0.028188,0.106417,0.023501,2.220446e-16,0.161390,0.172971,0.011972
4,0.638609,0.261269,0.052300,0.003804,0.685931,0.206833,0.050254,0.002832,0.692380,0.230487,...,0.049459,0.061478,0.104840,0.022523,0.007313,0.008227,2.220446e-16,0.538024,0.212003,0.012421

In [255]:
tprob0 = absoluted_fantasy.iloc[0,:]

In [257]:
tprob0.head()

trans3
0:0X      0.726653
0:1       0.237206
0:2       0.036014
0:3       0.013391
0X:0XX    0.676074
Name: 0, dtype: float64

In [261]:
len(all_transitions)

768

In [262]:
24*32

768

In [268]:
df0 = pd.DataFrame(np.zeros([24,32]))
df0.columns = state_list()
df0.index = transient_state_list()
df0.head()

,0,0X,0XX,0XXX,1,1X,1XX,1XXX,2,2X,...,13XX,13XXX,23,23X,23XX,23XXX,123,123X,123XX,123XXX
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0XX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [272]:
for t in transient_state_list():
    for s in state_list():
        transition = t+':'+s
        try:
            df0.loc[t,s] = tprob0[transition]
        except:
            pass

In [274]:
df0.shape

(24, 32)

In [276]:
df0.sum(axis=1)

0        1.026527
0X       1.012456
0XX      1.018335
1        1.022475
1X       1.140756
1XX      1.033126
2        1.565515
2X       1.082957
2XX      1.158310
3        2.400524
3X       1.584582
3XX      1.000000
12       1.480302
12X      1.426068
12XX     1.024439
13       3.116848
13X      1.032398
13XX     1.218791
23       2.254369
23X      1.431419
23XX     1.354564
123      2.382910
123X     1.775674
123XX    1.137044
dtype: float64

In [292]:
dfn = pd.DataFrame(np.array(df0)/np.array(df0.sum(axis=1)).reshape((24,1)).dot(np.ones((1,32))))
dfn.columns = state_list()
dfn.index = transient_state_list()
dfn.sum(axis=1)

0        1.0
0X       1.0
0XX      1.0
1        1.0
1X       1.0
1XX      1.0
2        1.0
2X       1.0
2XX      1.0
3        1.0
3X       1.0
3XX      1.0
12       1.0
12X      1.0
12XX     1.0
13       1.0
13X      1.0
13XX     1.0
23       1.0
23X      1.0
23XX     1.0
123      1.0
123X     1.0
123XX    1.0
dtype: float64

In [283]:
np.ones((1,24))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1.]])